# Data Wrangling (cirugía de datos)

EL data wrangling a veces denominada data munging, es el proceso de transformar y mapear datos de un dataset raw (en bruto) en otro formato con la intención de hacerlo más apropiado y valioso para una variedad de propósitos posteriores, como el análisis. Un data wrangler es una persona que realiza estas operaciones de transformación.

Esto puede incluir munging, visualización de datos, agregación de datos, entrenamiento de un modelo estadístico, así como muchos otros usos potenciales. La oscilacion de datos como proceso generalmente sigue un conjunto de pasos generales que comienzan extrayendo los datos de forma cruda de origen de datos, dividiendo los datos en bruto usando algoritmos(por ej: clasificacion) o analizando los datos en estructuras de datos predefinidas, y finalmente depositando el conetnido resultando en un sistema de almacenamiento para su uso futuro

In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("../datasets/customer-churn-model/Customer Churn Model.txt")

In [6]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

## Crear un subconjunto de datos

In [7]:
account_lenght=data["Account Length"]

In [8]:
account_lenght.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [9]:
type(account_lenght)

pandas.core.series.Series

Como vemos la columna extraida no es una lista ni un array, es una serie, por lo que no podemos usar atributos de dataframe

In [12]:
subset = data[["Account Length", "Phone", "Eve Charge", "Day Calls"]]
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [13]:
type(subset)

pandas.core.frame.DataFrame

como vemos al pasar varias columnas, el tipo de varible sí es un DF. Se pueden cargar varias columnas de la siguiente manera también.

In [17]:
desired_columns =["Account Length", "Phone", "Eve Charge", "Day Calls"]
subset = data[desired_columns]

Cuando hay muchas columnas, se vuelve tedioso escribir los nombres de cada una de ellas, por lo que existen mejores opciones, como las que veremos a continuación.

Realizamos el proceso contrario, es decir, creamos una lista de las columnas no deseadas

In [21]:
desired_columns = ["Account Length","VMail Message", "Day Calls"]  #las que no queremos o queremos.
desired_columns

['Account Length', 'VMail Message', 'Day Calls']

In [23]:
all_columns_list = data.columns.values.tolist()
all_columns_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [25]:
sublist = [x for x in all_columns_list if x not in desired_columns]  
sublist  # sacamos las columnas que escribimos en desired_columns

['State',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [29]:
subset = data[sublist]
subset.head(3)

,State,Area Code,Phone,Int'l Plan,VMail Plan,Day Mins,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,415,382-4657,no,yes,265.1,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,415,371-7191,no,yes,161.6,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,415,358-1921,no,no,243.4,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.

### subconjunto de filas

In [34]:
data[0:10]   # de esta forma consideramos las filas

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False.
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False.

In [35]:
data[:10] # es equivalente al anterior, siemore y cuando parta del 0

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False.
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False.

In [37]:
data[3330:]   # me entrega las filas restantes

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

In [43]:
## usuarios con day mins mayores a 200
data1 = data[data["Day Mins"] > 300]
data1.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
76,DC,82,415,374-5353,no,no,0,300.3,109,51.05,...,100,15.39,270.1,73,12.15,11.7,4,3.16,0,True.
156,OH,83,415,370-9116,no,no,0,337.4,120,57.36,...,116,19.33,153.9,114,6.93,15.8,7,4.27,0,True.
197,TX,208,510,378-3625,no,no,0,326.5,67,55.51,...,113,14.99,181.7,102,8.18,10.7,6,2.89,2,True.
230,MD,93,408,360-3324,yes,no,0,312.0,109,53.04,...,100,11.00,217.6,74,9.79,10.5,2,2.84,0,True.

## Filtros de filas

In [45]:
### usuarios de Nueva york (estate = NY)
data2 = data[data["State"]=="NY"]
data2

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
77,NY,144,408,360-1171,no,no,0,61.6,117,10.47,...,85,6.55,173.0,99,7.79,8.2,7,2.21,4,True.
136,NY,75,415,374-8525,no,yes,21,175.8,97,29.89,...,106,18.49,237.5,134,10.69,5.3,4,1.43,5,False.
182,NY,67,408,405-2888,no,yes,36,115.6,111,19.65,...,94,20.20,169.9,103,7.65,9.9,12,2.67,2,False.
186,NY,106,408,422-1471,no,no,0,158.7,74,26.98,...,139,5.47,198.5,103,8.93,10.2,4,2.75,1,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3219,NY,150,415,421-6268,no,yes,35,139.6,72,23.73,...,170,28.29,213.8,105,9.62,8.8,2,2.38,2,False.
3227,NY,209,415,369-8703,no,no,0,153.7,105,26.13,...,87,16.03,200.8,95,9.04,10.7,2,2.89,0,False.
3257,NY,171,415,412-6245,no,no,0,137.5,110,23.38,...,109,16.84,292.7,131,13.17,13.3,5,3.59,2,False.
3275,NY,120,510,405-5083,no,yes,27,128.5,115,21.85,...,91,13.91,242.9,121,10.93,0.0,0,0.00,1,False.
3310,NY,94,415,363-1123,no,no,0,190.4,91,32.37,...,107,7.82,224.8,108,10.12,13.6,17,3.67,2,False.

In [50]:
## AND --> &   
data3 = data[(data["Day Mins"]>300) & (data["State"]=="NY")]
data3.shape

(2, 21)

In [52]:
## OR |
data4= data[((data["Day Mins"]>300)) | ((data["State"]=="NY"))]
data4.shape

(124, 21)

In [54]:
data5 = data[data["Day Calls"] <data["Night Calls"] ] # se pueden comparar ambas columnas
data5.shape

(1626, 21)

In [55]:
data6 = data[data["Day Mins"] <data["Night Mins"] ] # se pueden comparar ambas columnas
data6.shape

(2051, 21)

## Filtrar filas y columnas a la vez

In [58]:
## Minutos de dia, noche y Longitud de la Cuenta de los primeros 50 individuos
subset_first_50=data[["Day Mins","Night Mins","Account Length"]][:50] # el 1er corchete es para col y el 2do fila
subset_first_50.shape
subset_first_50.head()

   Day Mins  Night Mins  Account Length
0     265.1       244.7             128
1     161.6       254.4             107
2     243.4       162.6             137
3     299.4       196.9              84
4     166.7       186.9              75

Otra forma de realizar esto es con loc o iloc
iloc es para dar posiciones
loc es para dar nombres de las columnas o filas
para ambos la sintaxis es Fila y Columna, al revés del anterior metodo

In [61]:
data.iloc[:10,3:6]  #las 10 primeras filas y las columnas de la 4 a la 6

      Phone Int'l Plan VMail Plan
0  382-4657         no        yes
1  371-7191         no        yes
2  358-1921         no         no
3  375-9999        yes         no
4  330-6626        yes         no
5  391-8027        yes         no
6  355-9993         no        yes
7  329-9001        yes         no
8  335-4719         no         no
9  330-8173        yes        yes

In [64]:
data.iloc[:,3:6] #todas las filas para las columnas entre 4 y 6
data.iloc[:5,:] #todas las columnas para las filas de la 0 a la 5

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [66]:
data.iloc[:10, [2,5,7]] # para escoger las filas/colum invidualmente se pasa una lsita

   Area Code VMail Plan  Day Mins
0        415        yes     265.1
1        415        yes     161.6
2        415         no     243.4
3        408         no     299.4
4        415         no     166.7
5        510         no     223.4
6        510        yes     218.2
7        415         no     157.0
8        408         no     184.5
9        415        yes     258.6

In [67]:
data.iloc[[1,4,6,7], [2,5,7]]

   Area Code VMail Plan  Day Mins
1        415        yes     161.6
4        415         no     166.7
6        510        yes     218.2
7        415         no     157.0

In [70]:
data.loc[[1,4,6,7], ["Area Code", "VMail Plan","Day Mins"]] #cambiamos iloc por loc, la "i" es de index

   Area Code VMail Plan  Day Mins
1        415        yes     161.6
4        415         no     166.7
6        510        yes     218.2
7        415         no     157.0

In [72]:
## seria bueno tener el total mins, lo crearemos
data["Total Mins"]=data["Day Mins"]+data["Night Mins"]+data["Eve Mins"]
data["Total Mins"].head()

0    707.2
1    611.5
2    527.2
3    558.2
4    501.9
Name: Total Mins, dtype: float64

In [74]:
data["Total Calls"]=data["Day Calls"]+data["Night Calls"]+data["Eve Calls"]
data["Total Calls"].head()

0    300
1    329
2    328
3    248
4    356
Name: Total Calls, dtype: int64

In [75]:
data.shape

(3333, 23)

In [76]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?,Total Mins,Total Calls
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,244.7,91,11.01,10.0,3,2.70,1,False.,707.2,300
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,254.4,103,11.45,13.7,3,3.70,1,False.,611.5,329
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,162.6,104,7.32,12.2,5,3.29,0,False.,527.2,328
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,196.9,89,8.86,6.6,7,1.78,2,False.,558.2,248
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,186.9,121,8.41,10.1,3,2.73,3,False.,501.9,356

## Generación aleatoria de números

In [77]:
import numpy as np

In [80]:
# generar un numero aleatorio entero entre 1 y 100
np.random.randint(1,100)

78

In [82]:
# la forma clasica es generar un numero aleatorio entre 0 y 1 (con decimales)
np.random.random()

0.3582559821769894

In [83]:
##fncion que genera una lista de n numeros aleatorios enteros dentro del interbalo [a,b]
def randint_list(n,a,b):
    x=[]
    for i in range(n):
        x.append(np.random.randint(a,b))
    return x

In [84]:
randint_list(25,1,50)

[35,
 35,
 6,
 36,
 13,
 16,
 47,
 26,
 35,
 9,
 11,
 30,
 47,
 16,
 12,
 33,
 35,
 8,
 19,
 33,
 14,
 22,
 41,
 28,
 7]

In [85]:
import random

In [91]:
for i in range(10):
    print(random.randrange(0,100,7)) # genera numeros aleatorios entre 0 y 100 que sean multiplos de 7

28
63
70
14
7
49
63
21
35
0

### Shuffling

In [94]:
a = np.arange(100)

In [95]:
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [99]:
np.random.shuffle(a)  # baraja la lista
a

array([51, 17, 42, 45,  4, 24, 22,  2, 73, 27, 49, 93, 32, 79, 50,  0, 20,
        3, 41, 71, 98, 92, 97, 37, 53, 85,  6, 40,  5, 21, 31, 29, 80, 65,
       35, 47, 57, 23, 44, 61, 13, 66, 12, 95,  7, 28,  8, 75, 19, 33, 90,
       18, 14, 78, 88, 91, 83, 25, 77, 59, 64, 76, 81, 58, 69, 70, 68, 89,
       36, 10, 38, 46, 86, 55, 26, 16, 87, 99, 30, 54, 63,  1, 96, 62, 67,
       84, 72, 39, 52, 43, 94, 60, 56, 74,  9, 82, 11, 34, 48, 15])

## choice

In [101]:
data.head()
data.shape

(3333, 23)

In [102]:
colum_list= data.columns.values.tolist()

In [104]:
np.random.choice(colum_list)  # me elige al azar un elemento de la lista

'VMail Plan'

## seed

cuando se necesite retener una cantidad de numeros aleatorios que te gustaron es necesario fijar la semilla

In [110]:
np.random.seed(2018)
for i in range(5):
    print(np.random.random())

0.8823493117539459
0.10432773786047767
0.9070093335163405
0.3063988986063515
0.446408872427422

es importante que cuando tienes un proyecto y quieres realizar numeros aleatorios al azar, fijar la semilla arriba del programa, de esa forma te aseguras de que podrás reproducir tus valores cuando desees